@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Roboto:wght@100;300;400;500;700&display=swap');

/*---------------General----------*/

.inline-block{
    display: inline-block;
}

/*------------------------Logo----*/

.navbar-brand{
    font-family: "East Sea Dokdo", sans-serif;
    font-size: 40px;
}

.navbar-brand li{
    font-family: "Roboto", sans-serif;
    color: black;
    transition: all .35s ease-in;
    -moz-transition: all .35s ease-in;
    -webkit-transition: all .35s ease-in;
    -o-transition: all .35s ease-in;
}

.navbar-brand li:hover{
    color: #f41212;
}

.navbar{
    padding-top: 0px;
    margin-top: 0px;
    background-color: #f4f2f2;
}


/*------------------Banner------------*/

.banner-container{
    background-image: url("../images/main-image.jpg");
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 150vh;
    width: 100%;
}

/*-------------Callout----*/

.callout-container{
    float: right;
    padding-top: 250px;
}

.callout-container p{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color:#fafafa;
    display: block;
}

.btn-callout{
    background-color: #f4f2f2;
    transition: all .35s ease-in;
    -moz-transition: all .35s ease-in;
    -webkit-transition: all .35s ease-in;
    -o-transition: all .35s ease-in;
}

.btn-callout:hover{
    background-color: #ee3e3e;
}


/*---------------Footer-----------*/

footer{
    background-color: #f4f2f2;
}

.footer-heading{
    font-family: "East Sea Dokdo", sans-serif;
    font-size: 30px;
}

.about-me{
    padding: 15px;
    float: left;
    font-family: "Roboto", sans-serif;
    display: block;
    margin-right: 45px;
}

.blog-link{
    color: black;
    text-decoration: underline;
    transition: all .35s ease-in;
    -moz-transition: all .35s ease-in;
    -webkit-transition: all .35s ease-in;
    -o-transition: all .35s ease-in;
}

.blog-link:hover{
    color: #ee3e3e;

}

.social-links li a i{
    text-decoration: none;
    color: black;
    display: block;
    float: right;
    font-size: 30px;
    letter-spacing: 10px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50%;
}

.social-links li a:hover{
    color: #ee3e3e;
}

